<div class="p-4">
    <form class="relative" onsubmit="return false">
      <i class="fas fa-search absolute top-4 left-4"></i>
      <input class="w-full h-12 px-4 rounded-full placeholder:text-gray-700 bg-gray-100 pl-12 outline-none" 
      type="text" placeholder="What are you interested in ?">
    </form>
  </div>

  <div class="px-4">
    <form class="flex flex-col relative pb-14 border border-blue1 rounded" onsubmit="validate(createTweet); return false" autocomplete="off">
      <label for="txt-tweet" class="w-full font-thin text-sm text-gray-400 pt-2 pl-4">1 to 100 characters</label>
      <input name="tweet_text" id="txt-tweet" class="w-full h-12 p-4 text-gray-800 rounded outline-none placeholder:text-gray-800" 
      type="text" placeholder="What is in your mind ?"
      data-validate="str" data-min="1" data-max="100">
      <button type="submit" class="absolute bottom-2 right-2 px-8 py-2 bg-blue2 text-white rounded-full"
        data-default="Tweet"
        data-await="Tweeting..."
      >
        Tweet
      </button>
    </form>
  </div>