% # main page
<div class="flex w-full mx-auto xl:w-4/5">

  % # left
  <div class="w-1/4">
    <div class="fixed h-screen w-1/5 px-8 flex flex-col py-6">
      <div class="">
        <div class="">
          <i class="fa-brands fa-twitter fa-fw text-4xl text-blue1 pl-5"></i>
        </div>
        <div class="">

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter  rounded-full py-3 px-6" href="/logged-user">
              <i class="fas fa-home fa-fw"></i>
              <span class="ml-2">Home</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="/twitter.com">
              <i class="fas fa-hashtag fa-fw"></i>
              <span class="ml-2">Explore</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="#">
              <i class="far fa-bell fa-fw"></i>
              <span class="ml-2">Notifications</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
              <i class="far fa-envelope fa-fw"></i>
              <span class="ml-2">Messages</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
              <i class="far fa-bookmark fa-fw"></i>
              <span class="ml-2">Bookmarks</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
              <i class="fas fa-clipboard-list fa-fw"></i>
              <span class="ml-2">Lists</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
              <i class="far fa-user fa-fw"></i>
              <span class="ml-2">Profile</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
              <i class="fas fa-ellipsis-h fa-fw"></i>
              <span class="ml-2">More</span>
            </a>
          </div>

          <div class="mt-6">
            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="/logout">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <span class="ml-2">Logout</span>
            </a>
          </div>


        </div>
        <button onclick="toggleCreateTweetModal()" class="mt-8 w-full py-3 text-lg text-white bg-blue1 rounded-full">
          Tweet
        </button>
      </div>
      <div class="mt-auto">
        <div class="flex items-center gap-2 px-2 py-3 hover:bg-gray-200 cursor-pointer rounded-full">
          <img class="userProfile  w-12 h-12 rounded-full object-cover flex-none"
            src="/images/{{jwt_user['jwt_user_image']}}" onError="this.onerror=null;this.src='/images/barca.png';" />
          <div class="flex-1 overflow-ellipsis">
            <p>{{jwt_user['jwt_user_first_name']}}</p>
            <p id="{{jwt_user['jwt_user_id']}}" class="login-user-id font-thin">@{{jwt_user['jwt_user_name']}}</p>
          </div>
          <button class="py-2 px-4 hover:bg-gray-200 rounded-full">
            ...
          </button>
        </div>
      </div>
    </div>
  </div>
  % # end left